.hero{
    text-align: center;
    padding: 13%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.hero > * {
  position: relative;
  z-index: 2;
}

.hero-title{
    font-size: 2.6rem;
    
}
.hero-subtitle{
    font-size: 25px;
    margin-top: 20px;
}
.hero-buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.btn-primary{
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(135deg, #4ade80, #16a34a);
}
.btn-secondary{
    padding: 12px 20px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .hero-content{
        padding: 20px;
    }
    .hero-title {
        font-size: 35px;
    }
    .hero-subtitle{
        font-size: 20px;
        line-height: 1.1;
    }
    .hero-buttons{

    }
}