.hero{
    text-align: center;
    padding: 13%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.hero-title{
    font-size: 2.4rem;
    
}
.hero-subtitle{
    font-size: 25px;
    margin-top: 20px;
}
.hero-buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.btn-primary{
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(135deg, #4ade80, #16a34a);
}
.btn-secondary{
    padding: 12px 20px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
