.gallery-main-container{
  margin-top: 35px;
  text-align: center;
  background: linear-gradient(135deg, #37b666, #084e22);
  padding: 40px;
  color: rgb(212, 211, 211);
}
.gallery-pics{
  display: flex;          
  flex-wrap: wrap;   
  justify-content: center;  
  gap: 15px;              
  margin-top: 40px; 
}
.gallery{
  text-align: center;
}
.gallery-paragraph{
  font-size: 20px;
  line-height: 1.6;    
  margin-top: 20px;
}
.gallery-title{
  font-size: 2rem;
  margin-top: 20px;
}
.gallery-img {
  width: 100%;             
  height: 200px;            
  object-fit: cover;        
  transition: transform 0.3s; 
}
.view-btn{
  font-size: 18px;
  height: 40px;
  width: 200px;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  margin-right: 30px;
  background: linear-gradient(135deg, #4ade80, #16a34a);
  color: white;
}
.gallery-img:hover {
  transform: scale(1.05);   
}

@media (max-width: 768px) {

  .gallery-main-container {
    padding: 30px 5%;
    margin-top: 20px;
  }

  .gallery-title {
    font-size: 1.8rem;
  }

  .gallery-paragraph {
    font-size: 17px;
  }

  .gallery-pics {
    gap: 10px;
  }

  
  .gallery-img {
    width: calc(99.333% - 10px);   
    height: 120px;                
    border-radius: 8px;
  }

  .view-btn {
    width: 100%;
    max-width: 250px;
    margin-right: 0;
  }
}
