.navbar-container{
    background-color: white;
    padding: 10px;
}
.nav-items{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    font-size: 20px;
}
.nav-items a{
    display: flex;
    text-decoration: none;
}
.nav-logo{
    width: 50px;
}
.logo-name{
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-top: 8px;
}
.logo-name{
    text-decoration: none;
    margin-bottom: 10px;
}
.nav-links{
    margin-top: 10px;
}
.navigation-links{
    display: flex;
    justify-content: space-evenly;
    gap: 36px;
    margin-left: 180px;
}
.navigation-links li{
    list-style: none;
}
.nav-lang{
    display: flex;
    margin-top: 10px;
    gap: 5px;
}
.nav-lang select{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
}
.langLogo{
    width: 25px;
    margin-bottom: 12px;
}
.nav-applyBtn{
    height: 33px;
    width: 100px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 30px;
    background: linear-gradient(135deg, #4ade80, #16a34a);
    color: white;
}
.hamburger{
    display: none;
}

@media (max-width: 768px) {
    .nav-items a{
    left: 0;
    
    }
    .nav-logo{
        width: 40px;
    }
    .logo-name{
        font-size: 20px;
    }
    .nav-links {
    position: absolute;
    top: 70px;
    right: 10px;
    width: 200px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    gap: 20px;

    display: none; 
  }
  .nav-links.Open {
    display: flex; 
    flex-direction: column;
  }

  .hamburger {
    display: block; 
    cursor: pointer;
    margin-left: 160px;
    font-size: 33px;
  }

  .nav-lang,
  .nav-applyBtn {
    display: none; 
  }
}

