.footer-container{
    background: linear-gradient(135deg, #37b666, #084e22);
    text-align: center;
}

.footer-data{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px 2%;
}
.footer-about-head{
    color: rgb(231, 229, 229);
    font-size: 20px;
}
.footer-data p{
    font-size: 17px;
    color: rgb(202, 201, 201);
    margin-top: 10px;
    cursor: pointer;
}
.footer-data p:hover{
    color: rgb(207, 205, 205);
}
.footer-hr{
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgb(160, 159, 159);
}
.footer-copy{
    font-size: 17px;
    margin-top: 5px;
    color: rgb(202, 201, 201);
}
@media (max-width: 768px) {
  .footer-container{
    margin-top: 35px;
  }
  .footer-data {   
    text-align: center;
    gap: 20px;                 
    padding: 25px 10px;
  }

  .footer-data p {
    margin-top: 5px;            
    font-size: 15px;            
  }

  .footer-about-head {
    font-size: 18px;
  }

  .footer-copy {
    font-size: 14px;
    padding: 10px;
  }
}
