.footer-container{
    background: linear-gradient(135deg, #37b666, #084e22);
    text-align: center;
}

.footer-data{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px 2%;
}
.footer-about-head{
    color: rgb(231, 229, 229);
    font-size: 20px;
}
.footer-data p{
    font-size: 17px;
    color: rgb(202, 201, 201);
    margin-top: 10px;
    cursor: pointer;
}
.footer-data p:hover{
    color: rgb(207, 205, 205);
}
.footer-hr{
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgb(160, 159, 159);
}
.footer-copy{
    font-size: 17px;
    margin-top: 5px;
    color: rgb(202, 201, 201);
}